@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  @apply max-w-[1440px] mx-auto p-4;
}

/* nav bar styling */
.nav-bar-items ul > li {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.nav-bar-items ul > li:hover {
  text-decoration: underline;
  text-decoration-color: #f18140;
  text-decoration-style: solid;
}

/* Z-index hero section */

.Left {
  z-index: -1;
}

.gradient-div {
  background: linear-gradient(
    165.66deg,
    rgba(244, 145, 63, 0.2) 65.94%,
    rgba(31, 8, 77, 0.2) 78.1%
  );
}

/* Folex-card */

.folex-card {
  background: linear-gradient(
    231.09deg,
    rgba(244, 145, 63, 0.56) 13.07%,
    rgba(30, 5, 70, 0.56) 172.4%
  );
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(21px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}

.Chart-card {
  background: linear-gradient(
    214.25deg,
    rgba(255, 255, 255, 0.224) 6.73%,
    rgba(255, 255, 255, 0.084) 100.28%
  );
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(21px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}
